body {
    background-image: url(../images/Background-image.png);
}

header {
    float: center;
    background: #ffffff;
    color: #777777;
    width: 100%;
    border-bottom: solid 2px #dddddd;
    height: 80px;
}

.content {
    width: 960px;
    margin: 0 auto;
    height: 100%;
}

h4 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
    color: #777777;
    float: right;
    padding: 20px;
}

a{
    color: #777777
}

.name {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color:white;
    background: teal;
    float: left;
    height: 100%;
    width: 200px;
    text-align: center;
}

h3 {
    font-size: 30px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color:teal;
}

.line {
    width: 960px;
    height: 3px;
    background-color:#cccccc;
}

.mainbio {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 30px;
    background: white;
    color:#777777;
    width: 960px;
    margin: 30px auto;
    border:1px solid #dddddd;
}

.image {
    float: left;
    padding: 15px;
}

footer {
    margin-top: 27px;
    float: center;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 3px;
    border-top: 7px solid #4aaaa5;
    background-color: #666666;
    color: #dddddd;
    font-size: 10px;
    text-align: center;
}