body {
    background-image: url(../images/Background-image.png);
}

header {
    float: center;
    background: #ffffff;
    color: #777777;
    width: 100%;
    border-bottom: solid 2px #dddddd;
    height: 80px;
    top: 0px;
}

.content {
    width: 960px;
    margin: 0 auto;
    height: 100%;
}

h4 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
    color: #777777;
    float: right;
    padding: 20px;
}

a{
    color: #777777
}

.name {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color:white;
    background: #4aaaa5;
    float: left;
    height: 100%;
    width: 200px;
    text-align: center;
}

h3 {
    font-size: 30px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color:#4aaaa5;
}

.line {
    width: 960px;
    height: 3px;
    background-color:#cccccc;
}

.mainbio {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 30px;
    background: white;
    color:#777777;
    width: 960px;
    margin: 30px auto;
    border:1px solid #dddddd;
}
.portbio {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 30px;
    background: white;
    color:#777777;
    width: 960px;
    margin: 30px auto;
    border:1px solid #dddddd;
    height: 850px;
}

.image {
    float: left;
    padding: 15px;
}

footer {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-top: 27px;
    float: center;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 3px;
    border-top: 7px solid #4aaaa5;
    background-color: #666666;
    color: #dddddd;
    font-size: 10px;
    text-align: center;
}

.contact-name {
    padding-left: 10px;
    border: solid 1px #cccccc;
}

.contact-email {
    padding-left: 10px;
    border: solid 1px #cccccc;
}

.contact-message {
    height: 220px;
    border: solid 1px #cccccc;
}

.submit-button {
    text-align: center;
    margin-top: 20px;
    background: #4aaaa5;
    color: white;
    padding: 1px;
    width: 120px;
}

.desc {
    background-color: #4aaaa5;
    color: white;
    width: 250;
    text-align: center;
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
    bottom: 50px;

}

.portfolio-one {
    position: relative;
   margin: 30px;
   float: left;
}


